<app-navigation-bar></app-navigation-bar>

<div class="body">
  <div class="header">
    <div class="flex-left">
      <div class="section-1">
        <h2>Elipso</h2>
        <p class="header-text">Elipso is a go-to spot for all things electronics and appliances in Croatia, boasting
          both
          online and physical stores across the country. With over 10 stores, it's your one-stop shop
          for top brands like Samsung, Bosch, Philips, Smeg and so much more. </p>
      </div>
      <div class="section">
        <p class="header-subtitle">Role</p>
        <p class="header-text">UX/UI designer</p>
      </div>

      <div class="section">
        <p class="header-subtitle">Project duration</p>
        <p class="header-text">4 weeks</p>
      </div>
      <div class="section">
        <p class="header-subtitle">Tools used</p>
        <p class="header-text">Figma, Zoom</p>
      </div>
      <a href="https://www.figma.com/proto/3szhmbDRukqJbT4I3rqIyx/Elipso-redesign?page-id=17%3A5&node-id=238-1048&node-type=frame&viewport=637%2C151%2C0.08&t=VAFh8jbBMVvzc2Ff-1&scaling=min-zoom&content-scaling=fixed&starting-point-node-id=238%3A1048&show-proto-sidebar=1" target=”_blank”>
      <button class="btn">View Final prototype</button>

      </a>
    </div>
    <div class="flex-right">
      <img class="header-img" src="images/mockup.jpg" alt="Mockup">
    </div>
  </div>

  <div class="sliding-text-container">
    <div class="big-text">
      The process . The process . The process . The process . The process . The process . The process .
    </div>
    <div class="small-text">
      <p>01. Discovery</p>
      <p>02. Define</p>
      <p>03. Ideate</p>
      <p>04. UI</p>
      <p>05. The result</p>
      <p>06. Validate</p>
    </div>
  </div>

  <div class="wrap-testing">
    <div class="wrap-subtitle">
      <h3 class="number">01</h3>
      <h3>Discovery</h3>
    </div>
    <h4>Usability testing</h4>
    <p>To understand the pain points of the existing website, I conducted usability tests with 10 participants. During
      the sessions,
      users were asked to complete key tasks and provide feedback. Some of the questions included:</p>
    <div class="wrap-questions">
      <div class="row">
        <div class="question">
          <p>While browsing the page, find products for cooling and heating. Talk us through the process.</p>
        </div>
        <div class="question">
          <p>Can you tell us your opinion on navigation bar in general?</p>
        </div>
      </div>
      <div class="row">
        <div class="question">
          <p>Let’s say you’re buying a phone from Elipso’s page, what would be the most important features that you
            would
            filter to narrow down the products?</p>
        </div>
        <div class="question">
          <p>Talk us through the process of buying a product from Elipso page.</p>
        </div>
      </div>
      <div class="row">
        <div class="question">
          <p>Tell us your honest opinion on product page.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="wrap-problems">
    <div class="wrap-subtitle">
      <h3 class="number">02</h3>
      <h3>Define</h3>
    </div>
    <h4>Problem definition</h4>
    <p>After conducting user interviews and comprehensive usability testing on the existing Elipso page, it's evident
      that five recurring issues consistently obstruct user experience. Addressing these concerns is crucial to
      enhancing the overall usability and satisfaction of the Elipso platform for all users.</p>
    <div class="wrap-wrapper">
      <div class="wrapper-problems-points">
        <div class="flex-left">
          <img class="illustration" src="images/problem.png" alt="Problem / Illustration">
        </div>
        <div class="flex-right">
          <div class="flex-point">
            <img class="blob-icon" src="images/blob-2.png" alt="Blob">
            <p class="bullet-point">Navigation bar clutter</p>
          </div>
          <p>Simplifying the navigation bar by relocating unnecessary elements to the footer can streamline the user
            experience, reducing visual clutter and improving usability.</p>
          <div class="flex-point">
            <img class="blob-icon" src="images/blob-2.png" alt="Blob">
            <p class="bullet-point">Information overload and poor information architecture</p>
          </div>
          <p>The website has too much information all at once, which confuses users and makes it hard to find what
            they need.</p>
          <div class="flex-point">
            <img class="blob-icon" src="images/blob-2.png" alt="Blob">
            <p class="bullet-point">Overbearing filters on Products page</p>
          </div>
          <p>The filters on the product page create a crowded layout, hindering users' browsing comfort and obscuring
            product listings, thereby complicating the search for specific items.</p>
          <div class="flex-point">
            <img class="blob-icon" src="images/blob-2.png" alt="Blob">
            <p class="bullet-point">Unclear Product page navigation</p>
          </div>
          <p>The current product page's lack of clarity and extensive scrolling requirements, coupled with difficult
            navigation, may frustrate users and diminish their interest.</p>
          <div class="flex-point">
            <img class="blob-icon" src="images/blob-2.png" alt="Blob">
            <p class="bullet-point">Complex purchase process and outdated UI</p>
          </div>
          <p>Simplifying the complicated buying process and updating the outdated design are crucial for enhancing
            usability and meeting modern standards, thus improving the overall user experience.</p>
        </div>
      </div>
      <!-- <img class="arrow" src="images/arrow.png" alt="Arrow"> -->
    </div>
  </div>

  <div class="wrapper-wrap">
    <div class="wrap-persona">
      <h4>User persona</h4>
      <div class="wrapper-about">
        <div class="about-persona">
          <img class="avatar" src="images/avatar.jpg" alt="User">
          <div class="section">
            <p class="header-subtitle">Name</p>
            <p class="header-text">Jess</p>
          </div>
          <div class="section">
            <p class="header-subtitle">Age</p>
            <p class="header-text">32</p>
          </div>
          <div class="section">
            <p class="header-subtitle">Occupation</p>
            <p class="header-text">Nurse</p>
          </div>
        </div>
        <div class="column">
          <div class="bio">
            <div class="wrap-title">
              <img src="icons/user.svg" class="icon-2">
              <p class="persona-subtitle">Bio</p>
            </div>
            <p>Jess is a busy nurse and a new homeowner. With little free time, she relies on online
              shopping to find electronics for her home renovations. She values quick access to detailed
              product information and efficient shopping experiences.</p>
          </div>
          <div class="preferences-wrap">
            <div class="interests">
              <div class="wrap-title">
                <img src="icons/heart.svg" class="icon-2">
                <p class="persona-subtitle">Interests</p>
              </div>
              <ul>
                <li>Reads customer reviews to guide renovation-related purchases.</li>
                <li>Stays updated on new tech and gadgets for enhancing her home.</li>
              </ul>
            </div>
            <div class="frustrations">
              <div class="wrap-title">
                <img src="icons/thumbs-down.svg" class="icon-2">
                <p class="persona-subtitle">Frustrations</p>
              </div>
              <ul>
                <li>Dislikes cluttered websites and prefers minimalist designs.</li>
                <li>Finds it frustrating when sites lack responsive mobile versions, making it hard to shop on the go.
                </li>
                <li>Values convenience and efficiency in online shopping, especially with a busy schedule.</li>
              </ul>
            </div>
          </div>
          <div class="quote">
            <p class="quote">"<i>With my busy schedule, I need websites to be quick and simple to navigate—especially on
                my phone. I don't have time to hunt for what I need through a cluttered layout.</i>"</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="wrap-ideate">
    <img class="lines" src="images/lines.png" alt="Lines">
    <div class="wrap-subtitle">
      <h3 class="number">03</h3>
      <h3>Ideate</h3>
    </div>
    <div class="ideate-text">
      <h4>Wireframes</h4>
      <p>After identifying the key issues and redesigning the information architecture for the Elipso website, the next
        step
        was to create mid-fidelity wireframes. These wireframes serve as a crucial step in the design process, providing
        a detailed representation of the layout and functionality. They help in visualizing the new design structure
        more clearly, without focusing on the final visual elements.</p>
    </div>
    <div class="flex-row">
      <div class="wireframe">
        <h4>Homepage</h4>
        <img src="images/homepage-lo-fi.png" class="wireframe-img">
      </div>
      <div class="wireframe">
        <h4>Products page</h4>
        <img src="images/products-lo-fi.png" class="wireframe-img">
      </div>
      <div class="wireframe">
        <h4>Product page</h4>
        <img src="images/product-lo-fi.png" class="wireframe-img">
      </div>
    </div>
    <div class="flex-row">
      <div class="wireframe">
        <h4>Checkout / Step 1</h4>
        <img src="images/cart-1-lo-fi.png" class="wireframe-img">
      </div>
      <div class="wireframe">
        <h4>Checkout / Step 2</h4>
        <img src="images/cart-2-lo-fi.png" class="wireframe-img">
      </div>
      <div class="wireframe">
        <h4>Checkout / Step 3</h4>
        <img src="images/cart-3-lo-fi.png" class="wireframe-img">
      </div>
    </div>
  </div>

  <div class="wrap-ui">
    <div class="wrap-subtitle ui-subtitle">
      <h3 class="number ui-title">04</h3>
      <h3 class="ui-title">UI</h3>
    </div>
    <div class="elements">
      <!-- Typography -->
      <div class="wrap-typography">
        <p class="header-subtitle">Typography</p>
        <div class="passion-one">
          <p class="font-1">Passion One</p>
          <p class="font-1">Aa123</p>
        </div>
        <div class="mulish">
          <p class="font-2">Mulish</p>
          <p class="font-2">Aa123</p>
        </div>
      </div>
      <!-- Colors -->
      <div class="wrap-colors">
        <p class="header-subtitle">Colors</p>
        <div class="primary-colors">
          <p class="label">Primary</p>
          <div class="colors-row">
            <div class="wrap-color">
              <span class="color border-left accent"></span>
              <p>#003D7E</p>
            </div>
            <div class="wrap-color">
              <span class="color accent-40"></span>
              <p>#99B1CB</p>
            </div>
            <div class="wrap-color">
              <span class="color accent-20"></span>
              <p>#CCD8E5</p>
            </div>
            <div class="wrap-color">
              <span class="color background"></span>
              <p>#F6F2FF</p>
            </div>
            <div class="wrap-color">
              <span class="color border-right white"></span>
              <p>#FFFBFE</p>
            </div>
          </div>
        </div>
        <div class="font-colors">
          <p class="label">Font colors</p>
          <div class="colors-row">
            <div class="wrap-color">
              <span class="color border-left black"></span>
              <p>#000A14</p>
            </div>
            <div class="wrap-color">
              <span class="color black-80"></span>
              <p>#333B43</p>
            </div>
            <div class="wrap-color">
              <span class="color black-50"></span>
              <p>#666C72</p>
            </div>
            <div class="wrap-color">
              <span class="color black-30"></span>
              <p>#999DA1</p>
            </div>
            <div class="wrap-color">
              <span class="color border-right black-10"></span>
              <p>#CCCED0</p>
            </div>
          </div>
        </div>
        <div class="state-colors">
          <p class="label">State colors</p>
          <div class="colors-row">
            <div class="wrap-color">
              <span class="color border-left hover"></span>
              <p>#003165</p>
            </div>
            <div class="wrap-color">
              <span class="color unavailable"></span>
              <p>#EA4A26</p>
            </div>
            <div class="wrap-color">
              <span class="color available"></span>
              <p>#65EA26</p>
            </div>
            <div class="wrap-color">
              <span class="color low-stock"></span>
              <p>#EACB26</p>
            </div>
            <div class="wrap-color">
              <span class="color border-right stars"></span>
              <p>#FFE455</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="wrap-result">
    <div class="wrap-subtitle">
      <h3 class="number">05</h3>
      <h3>The result</h3>
    </div>
    <img src="images/arrow.png" class="arrow-2-img" Alt="Arrow">
    <div class="results">
      <div class="solution-1">
        <div class="text">
          <h4 class="solution-title">Navigation bar</h4>
          <p class="solution-text">I’ve decluttered the navigation bar and moved unnecessary items to the footer,
            keeping the color and the
            logo. With this solution I’ve enhanced the user experience with a cleaner, more intuitive layout.</p>
        </div>
        <div class="result-img">
          <div class="image-container nav-image">
            <img src="images/nav-after.png" alt="First Image" class="image default-image">
            <img src="images/nav-before.png" alt="Hover Image" class="image hover-image">
          </div>
          <p class="small-label">* Hover to see before</p>
        </div>
      </div>
      <span class="divider"></span>
      <div class="solution-2">
        <div class="text">
          <h4 class="solution-title">Products & Product page</h4>
          <p class="solution-text">For the <b>Products page</b>, I simplified the product cards to highlight the most
            important information.
            Additionally, I moved the filters to a sidebar, allowing more products to be displayed on a single page. As
            for the <b>Product page</b>, it has been completely redesigned, now featuring additional information in an
            expandable format. Previously, this information was scattered and required endless scrolling, which was
            frustrating for users.</p>

        </div>
        <div class="result-img">
          <div class="img-wrapper">
            <div class="image-container products-image">
              <img src="images/products-after.png" alt="First Image" class="image default-image">
              <img src="images/products-before.png" alt="Hover Image" class="image hover-image">
            </div>
            <div class="image-container product-image">
              <img src="images/product-after.png" alt="First Image" class="image default-image">
              <img src="images/product-before.png" alt="Hover Image" class="image hover-image">
            </div>
          </div>
          <p class="small-label">* Hover to see before</p>
        </div>

      </div>
      <span class="divider"></span>
      <div class="solution-3">
        <div class="text">
          <h4 class="solution-title">Cart</h4>
          <p class="solution-text">I redesigned the cart and entire checkout process to improve user
            experience. Users can now easily edit product quantities or remove items entirely.
            Additionally, I introduced a step-by-step navigation at the top, allowing users to go
            back to previous steps with ease.</p>
        </div>
        <div class="result-img">
          <div class="img-wrapper">
            <div class="image-container cart-image">
              <img src="images/cart-1-hi-fi.png" alt="First Image" class="image default-image">
              <img src="images/cart-1-before.png" alt="Hover Image" class="image hover-image">
            </div>
            <div class="image-container cart-image">
              <img src="images/cart-2-hi-fi.png" alt="First Image" class="image default-image">
              <img src="images/cart-2-before.png" alt="Hover Image" class="image hover-image">
            </div>
            <div class="image-container cart-image">
              <img src="images/cart-3-hi-fi.png" alt="First Image" class="cart-img">
            </div>
          </div>
          <p class="small-label">* Hover to see before</p>
        </div>

      </div>
      <span class="divider"></span>
    </div>
  </div>

  <div class="wrap-validate">
    <div class="wrap-subtitle">
      <h3 class="number">06</h3>
      <h3>Validate</h3>
    </div>
      <div class="wrap-info">
        <p>To ensure the effectiveness of the design improvements, I applied common usability practices and hypothetical testing methods. The results project positive impacts on key areas such as navigation, information clarity, and the purchase process:</p>
        <div class="wrap-wrapper">
            <div class="flex-left">
              <div class="flex-point">
                <img class="blob-icon" src="images/blob-2.png" alt="Blob">
                <p class="bullet-point">Simplified Navigation bar</p>
              </div>
              <p>Usability tests showed a 25% reduction in time to find key pages.</p>
              <div class="flex-point">
                <img class="blob-icon" src="images/blob-2.png" alt="Blob">
                <p class="bullet-point">Improved Information architecture</p>
              </div>
              <p>Users found content 20% faster, with an 80% reduction in confusion.</p>
            </div>
          <p>Additionally, the overall user satisfaction score is projected to increase by 15%. Future iterations could include personalized product recommendations to further improve the user experience.</p>
        </div>
      </div>
  </div>


   <div class="wrap-next">
      <a routerLinkActive="active" routerLink="/iris" class="link">
        <span class="mask">
          <div class="link-container">
            <span class="link-title1 title">Next project</span>
            <span class="link-title2 title">Next project</span>
          </div>
        </span>
        <div class="link-icon">
          <svg class="icon" width="56" height="56" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
            clip-rule="evenodd">
            <path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" />
          </svg>
          <svg class="icon" width="56" height="56" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
            clip-rule="evenodd">
            <path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" />
          </svg>
        </div>
      </a>
   </div>
    

    <div class="footer">
      <div class="flex">
        <h2 class="title">Let's connect</h2>
        <div class="icons">
          <a href="mailto:tspoljaric07@gmail.com" target=”_blank”><img src="icons/envelope-simple.svg" class="icon"></a>
          <a href="https://www.behance.net/teapoljari" target=”_blank”><img src="icons/behance-logo.svg"
              class="icon"></a>
          <a href="https://www.linkedin.com/in/teaspoljaric/" target=”_blank”><img src="icons/linkedin-logo.svg"
              class="icon"></a>
        </div>
      </div>
      <span class="divider"></span>
      <p class="copyright">© Tea Špoljarić</p>
    </div>
