// Primary colors
$accent: #EF8354;
$accent-80: #FCE4DA;
$accent-90: #F3A07C;
$background: #f4f3ee;
$black: #292F36;
$black-30: #3D4751;
$white: #FFFF;
$white-90: #EFEDE6;

// Gap
$gap-xxs: 0.5rem; // 8px
$gap-xs: 1rem; // 16px
$gap-s: 24px;
$gap-md: 32px;
$gap-lg: 96px;
$gap-xl: 112px;
$gap-xxl: 200px;