<app-navigation-bar></app-navigation-bar>

<div class="body">
  <div class="header">
    <div class="flex-left">
      <div class="section-1">
        <h2>Iris</h2>
        <p class="header-text">Iris is a podcasting company dedicated to providing high-quality, accessible, and
          affordable content for discerning listeners. To help them amplify their brand and reach a broader audience, I
          embarked on a project to develop a sophisticated, user-friendly website.</p>
      </div>
      <div class="section">
        <p class="header-subtitle">Role</p>
        <p class="header-text">UI designer</p>
      </div>

      <div class="section">
        <p class="header-subtitle">Project duration</p>
        <p class="header-text">2 weeks</p>
      </div>
      <div class="section">
        <p class="header-subtitle">Tools used</p>
        <p class="header-text">Figma</p>
      </div>
      <button
        href="https://www.figma.com/proto/XEjj8oBWAaMGi0sytqQNxq/Iris?page-id=3%3A13&node-id=3-14&node-type=frame&viewport=374%2C268%2C0.06&t=9fBzTS7rUqt9Vupj-1&scaling=min-zoom&content-scaling=fixed&starting-point-node-id=3%3A14"
        class="btn">View Final prototype</button>
    </div>
    <div class="flex-right">
      <img class="header-img" src="images/mockup.jpg" alt="Mockup">
    </div>
  </div>
  <div class="wrap-goal">
    <h4>Project goal</h4>
    <p class="goal-text">My goal was to create an online presence that mirrors Iris’s commitment to courage, innovation,
      and freshness. The new website features a striking landing page in their signature red, a compelling “Our Values”
      section, and an engaging About Page that tells the story of Iris and their team. It also includes detailed product
      pages for each podcast, enhanced with high-quality visuals and multimedia, and a blog section for sharing
      insightful podcasting content. The design emphasizes luxury and functionality, ensuring a seamless experience
      across all devices while reinforcing our brand identity.</p>
  </div>

  <div class="wrap-wrapper">
    <div class="flex-column">
      <div class="wrap-typography">
        <div class="flex-left">
          <p class="section-title">Typography</p>
          <div class="small-gap">
            <p class="big-letters">Aa</p>
            <p class="typo-text">Font Family - Manrope</p>
          </div>
        </div>
        <div class="flex-right">
          <p class="regular">Regular</p>
          <p class="medium">Medium</p>
          <p class="semibold">SemiBold</p>
        </div>
      </div>

      <img class="podcasts-img" src="images/podcasts-page.png" alt="Podcasts Page">

    </div>

    <div class="wrap-styles">
      <p class="section-title">Styles</p>
      <div class="wrap-style">
        <p class="section-subtitle">Regular</p>
        <div class="style-wrap">
          <p class="style-regular regular-1">Headline 1 <span class="accent-color">/</span> Regular</p>
          <p class="description">64px <span class="accent-color">/</span> line height - 70 px </p>
        </div>
        <div class="style-wrap">
          <p class="style-regular regular-2">Headline 3 <span class="accent-color">/</span> Regular</p>
          <p class="description">32px <span class="accent-color">/</span> line height - 40 px</p>
        </div>
        <div class="style-wrap">
          <p class="style-regular regular-3">Headline 4 <span class="accent-color">/</span> Regular</p>
          <p class="description">24px <span class="accent-color">/</span> line height - 26 px</p>
        </div>
        <div class="style-wrap">
          <p class="style-regular regular-4">Body 16 <span class="accent-color">/</span> Regular</p>
          <p class="description">16px <span class="accent-color">/</span> line height - 24 px</p>
        </div>
        <div class="style-wrap">
          <p class="style-regular regular-5">Body 12 <span class="accent-color">/</span> Regular</p>
          <p class="description">12px <span class="accent-color">/</span> line height - 18 px</p>
        </div>
      </div>
      <div class="wrap-style">
        <p class="section-subtitle">Medium</p>
        <div class="style-wrap">
          <p class="style-regular medium-1">Headline 1 <span class="accent-color">/</span> Medium</p>
          <p class="description">64px <span class="accent-color">/</span> line height - 70 px </p>
        </div>
        <div class="style-wrap">
          <p class="style-regular medium-2">Headline 3 <span class="accent-color">/</span> Medium</p>
          <p class="description">32px <span class="accent-color">/</span> line height - 40 px</p>
        </div>
        <div class="style-wrap">
          <p class="style-regular medium-3">Body 16 <span class="accent-color">/</span> Medium</p>
          <p class="description">16px <span class="accent-color">/</span> line height - 24 px</p>
        </div>
      </div>
      <div class="wrap-style">
        <p class="section-subtitle">Semibold</p>
        <div class="style-wrap">
          <p class="style-regular semibold-1">Headline 2 <span class="accent-color">/</span> SemiBold</p>
          <p class="description">40px <span class="accent-color">/</span> line height - 48 px </p>
        </div>
        <div class="style-wrap">
          <p class="style-regular semibold-2">Headline 4 <span class="accent-color">/</span> SemiBold</p>
          <p class="description">24px <span class="accent-color">/</span> line height - 26 px</p>
        </div>
        <div class="style-wrap">
          <p class="style-regular semibold-3">Body 16 <span class="accent-color">/</span> SemiBold</p>
          <p class="description">16px <span class="accent-color">/</span> line height - 24 px</p>
        </div>
        <div class="style-wrap">
          <p class="style-regular semibold-4">Body 12 <span class="accent-color">/</span> SemiBold</p>
          <p class="description">12px <span class="accent-color">/</span> line height - 18 px</p>
        </div>
      </div>
    </div>
  </div>


  <div class="wrap-colors">
    <p class="section-title">Colors</p>
    <div class="flex-row">
      <div class="color color-1">
        <p class="color-name-black">Red - 60</p>
        <p class="color-hex-black">#FF6542</p>
      </div>
      <div class="color color-2">
        <p class="color-name-white">Black - 90</p>
        <p class="color-hex-white">#212121</p>
      </div>
      <div class="color color-3">
        <p class="color-name-black">White</p>
        <p class="color-hex-black">#F4F3EE</p>
      </div>
    </div>
  </div>

  <div class="wrap-icons">
    <p class="section-title">Icons</p>
    <div class="flex-row">
      <p class="section-subtitle">Phosphor Icons</p>
      <p class="description">24 px <span class="accent-color">/</span> 1,5 px</p>
    </div>
    <div class="flex-icons">
      <img src="images/icons-imgs/arrow-down.svg" class="icon">
      <img src="images/icons-imgs/arrow-left.svg" class="icon">
      <img src="images/icons-imgs/arrow-right.svg" class="icon">
      <img src="images/icons-imgs/arrow-up-right.svg" class="icon">
      <img src="images/icons-imgs/at.svg" class="icon">
      <img src="images/icons-imgs/buildings.svg" class="icon">
      <img src="images/icons-imgs/caret-down.svg" class="icon">
      <img src="images/icons-imgs/chart-scatter.svg" class="icon">
      <img src="images/icons-imgs/chat-teardrop-text.svg" class="icon">
      <img src="images/icons-imgs/check.svg" class="icon">
      <img src="images/icons-imgs/copy.svg" class="icon">
      <img src="images/icons-imgs/credit-card.svg" class="icon">
      <img src="images/icons-imgs/facebook-logo.svg" class="icon">
      <img src="images/icons-imgs/globe.svg" class="icon">
      <img src="images/icons-imgs/headphones.svg" class="icon">
      <img src="images/icons-imgs/house-simple.svg" class="icon">
      <img src="images/icons-imgs/infinity.svg" class="icon">
      <img src="images/icons-imgs/instagram-logo.svg" class="icon">
      <img src="images/icons-imgs/paper-plane-tilt.svg" class="icon">
      <img src="images/icons-imgs/pause.svg" class="icon">
      <img src="images/icons-imgs/play.svg" class="icon">
      <img src="images/icons-imgs/plus-circle.svg" class="icon">
      <img src="images/icons-imgs/sparkle.svg" class="icon">
      <img src="images/icons-imgs/subtitles.svg" class="icon">
      <img src="images/icons-imgs/user.svg" class="icon">
      <img src="images/icons-imgs/x-circle.svg" class="icon">
      <img src="images/icons-imgs/x-logo.svg" class="icon">

    </div>

   
  </div>

  <div class="wrap-next">
    <a routerLinkActive="active" routerLink="/elipso" class="link">
      <span class="mask">
        <div class="link-container">
          <span class="link-title1 title">Previous project</span>
          <span class="link-title2 title">Previous project</span>
        </div>
      </span>
      <div class="link-icon">
        <svg class="icon" width="56" height="56" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
          clip-rule="evenodd">
          <path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" />
        </svg>
        <svg class="icon" width="56" height="56" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
          clip-rule="evenodd">
          <path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" />
        </svg>
      </div>
    </a>
 </div>

  <div class="footer">
    <div class="flex">
      <h2 class="title">Let's connect</h2>
      <div class="icons">
        <a href="mailto:tspoljaric07@gmail.com" target=”_blank”><img src="icons/envelope-simple.svg" class="icon"></a>
        <a href="https://www.behance.net/teapoljari" target=”_blank”><img src="icons/behance-logo.svg" class="icon"></a>
        <a href="https://www.linkedin.com/in/teaspoljaric/" target=”_blank”><img src="icons/linkedin-logo.svg"
            class="icon"></a>
      </div>
    </div>
    <span class="divider"></span>
    <p class="copyright">© Tea Špoljarić</p>
  </div>
</div>
